body {
    background-color: rgb(154, 205, 225);
    background-image: url("../images/01-02-02_background-img.jpg");
}

p {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    color: orangered;
}

.text-center {
    text-align: center;
}
